head {
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 1rem;
}
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
    }
.body {
    flex-direction: column;
}
}

.my-list li{
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 50px;
}

.features-grod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:1.5rem;
}

body {
  background-color: lightblue;
  border: 5px solid #3498db; 
    padding: 20px; 
    margin: 15px; 
    border-radius: 10px; 
    min-height: 95vh;
    box-sizing: border-box;
     background-color: brown;
}

.page-container {
    border: 3px dashed #2c3e50;
    background-color: white;    
    padding: 30px;
    min-height: 90vh;
    border-radius: 8px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color:white
}
/* main-note{
    color:aquamarine
}
main-note:hover{
    color:purple
} */
.my-btn {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease; 
}
.my-btn:hover {
    background-color:#3498db;
}
